# Hunter's Jupyter Notebook on IBM Watson Studio

This is the introduction section for this final notebook. Below will be the assignments required for the project.

OBJECTIVES OF THE COURSE:
* Learn data science languages
* Learn data science development environments such as Jupyter and RStudio
* Learn about various databases for data science languages

Some Data Science languages are: 
1. Python 
2. R 
3. SQL

Some Data Science libraries are:
1. Pandas
2. MySQL 
3. Tensor Flow

| Data Science Tools |
| --------------|
|Apache Spark|
|Jupyter|
|RStudio|

### Here is an Arithmetic code ex:

This code calculates the value of 2*(10+4).

In [15]:
2*(10+4)

28

This code converts minutes to hours by dividing by 60.

180 minutes = ? hours

In [12]:
180/60

3.0

**Answer : 3 hours!**

## Author
Hunter Happersett