# Hunter's Jupyter Notebook on IBM Watson Studio

This is the introduction section for this final notebook

Some Data Science languages are Python, R, SQL

Some Data Science libraries are Pandas, MySQL, Tensor Flow

| Tool Type     | Tool EX |
| --------------|---------|
|Data Management|Cassandra|
|ELT |Apache Air Flow|

This code calculates the sum of 1,3,5 and product of 1,3,5

In [10]:
1+3+5

9

In [11]:
1*3*5

15

This code converts minutes to hours

180 minutes = ? hours

In [12]:
180/60

3.0

**Answer : 3 hours!**

Hey its me **Hunter Happersett** this is my notebook!